In [1]:
import pandas as pd

### Rockchip

In [2]:
df = pd.read_csv('../data/WAMEX_1_Rockchip_Original.csv')
df.head()

/home/franticoreo/miniconda3/envs/minerals/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (18) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,OBJECTID,DATASET,SAMPLEID,GSWANO,EXTRACT_DA,BATCH_NO,QMAPID,DLAT,DLONG,EASTING,...,W_ppm,WO3_ppm,Y_ppm,Y2O3_ppm,Yb_ppm,Yb2O3_ppm,Zn_ppm,ZnO_ppm,Zr_ppm,ZrO2_ppm
0,1,NaN,229866,NaN,NaN,NaN,NaN,-34.048839,118.176663,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
1,2,NaN,229867,NaN,NaN,NaN,NaN,-34.048839,118.176663,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
2,3,NaN,229868,NaN,NaN,NaN,NaN,-34.048839,118.176663,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
3,4,NaN,229869,NaN,NaN,NaN,NaN,-34.048839,118.176663,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
4,5,NaN,229870,NaN,NaN,NaN,NaN,-34.048839,118.176663,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0

In [3]:
df.shape

(402770, 143)

### recalc_data

In [4]:
df = pd.read_excel('../data/WACHEM_0_recalc_data.xlsx')
df.head()

,OBJECTID_1 *,Shape *,DATASET,SAMPLEID,GSWANO,EXTRACT_DA,BATCH_NO,QMAPID,DLAT,DLONG,...,TiO2_pct,Tl_ppm,Tm_ppm,U_ppm,V_ppm,W_ppm,Y_ppm,Yb_ppm,Zn_ppm,Zr_ppm
0,1,Point,WACHEM,230272_CWMWS0,230272,2018-09-18,gs31052018,SH51-01,-28.36762,121.1129,...,0.83,0.8,0.35,0.50,140.0,1.0,21.299999,2.32,75.0,131.0
1,2,Point,WACHEM,230273_CWMWS0,230273,2018-09-18,gs31052018,SH51-01,-28.36762,121.1129,...,0.83,-0.2,0.32,0.51,141.0,-0.5,20.700001,2.28,75.0,132.0
2,3,Point,WACHEM,230274_CWMWS0,230274,2018-09-18,gs31052018,SH51-01,-28.36762,121.1129,...,0.88,0.4,0.34,0.52,146.0,0.5,20.500000,2.22,70.0,135.0
3,4,Point,WACHEM,230275_CWMWS0,230275,2018-09-18,gs31052018,SH51-01,-28.36762,121.1129,...,0.74,-0.2,0.26,0.46,128.0,-0.5,17.500000,1.79,50.0,116.0
4,5,Point,WACHEM,230276_CWMWS0,230276,2018-09-18,gs31052018,SH51-01,-28.36762,121.1129,...,0.73,-0.2,0.30,0.46,131.0,1.5,19.000000,1.95,65.0,115.0

In [5]:
df.shape

(4339, 103)

### StreamSed

Stream Sediment

In [6]:
df = pd.read_csv('../data/WAMEX_2_StreamSed_Original.csv')
df.head()

,OBJECTID,DATASET,SAMPLEID,GSWANO,EXTRACT_DA,BATCH_NO,QMAPID,DLAT,DLONG,EASTING,...,W_ppm,WO3_ppm,Y_ppm,Y2O3_ppm,Yb_ppm,Yb2O3_ppm,Zn_ppm,ZnO_ppm,Zr_ppm,ZrO2_ppm
0,1,NaN,229859,NaN,NaN,NaN,NaN,-34.072237,118.170528,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
1,2,NaN,229860,NaN,NaN,NaN,NaN,-33.988987,118.138194,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
2,3,NaN,229861,NaN,NaN,NaN,NaN,-34.024541,118.167577,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
3,4,NaN,229862,NaN,NaN,NaN,NaN,-33.938144,118.215302,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
4,5,NaN,229863,NaN,NaN,NaN,NaN,-33.989931,118.218507,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0

In [7]:
df.sample(10)

,OBJECTID,DATASET,SAMPLEID,GSWANO,EXTRACT_DA,BATCH_NO,QMAPID,DLAT,DLONG,EASTING,...,W_ppm,WO3_ppm,Y_ppm,Y2O3_ppm,Yb_ppm,Yb2O3_ppm,Zn_ppm,ZnO_ppm,Zr_ppm,ZrO2_ppm
75970,75971,NaN,7201917,NaN,NaN,NaN,NaN,-25.358320,121.074953,NaN,...,-9999.0,-9999.0000,-9999.000,-9999.000000,-9999.0000,-9999.000000,-9999.00,-9999.000000,-9999.0000,-9999.000000
153377,153378,NaN,13431523,NaN,NaN,NaN,NaN,-21.338781,120.548410,NaN,...,1.1,1.3871,-9999.000,-9999.000000,-9999.0000,-9999.000000,52.00,64.729600,-9999.0000,-9999.000000
17533,17534,NaN,1465026,NaN,NaN,NaN,NaN,-20.879252,120.952509,NaN,...,0.5,0.6305,18.600,23.620140,1.9000,2.163530,257.00,319.913600,8.2000,11.076456
122434,122435,NaN,10751136,NaN,NaN,NaN,NaN,-16.500084,125.060978,NaN,...,0.3,0.3783,3.700,4.698630,-9999.0000,-9999.000000,9.00,11.203200,83.5000,112.790740
59835,59836,NaN,5554740,NaN,NaN,NaN,NaN,-27.686934,117.118881,NaN,...,-9999.0,-9999.0000,-9999.000,-9999.000000,-9999.0000,-9999.000000,-9999.00,-9999.000000,-9999.0000,-9999.000000
5049,5050,NaN,359970,NaN,NaN,NaN,NaN,-17.238260,128.064721,NaN,...,-9999.0,-9999.0000,-9999.000,-9999.000000,-9999.0000,-9999.000000,10.00,12.448000,-9999.0000,-9999.000000
67612,67613,NaN,5911836,NaN,NaN,NaN,NaN,-33.069876,117.387027,NaN,...,0.0,-9999.0000,0.191,0.242551,0.0092,0.010476,0.02,0.024896,0.0161,0.021748
93326,93327,NaN,8472012,NaN,NaN,NaN,NaN,-21.528037,120.268854,NaN,...,-9999.0,-9999.0000,-9999.000,-9999.000000,-9999.0000,-9999.000000,-9999.00,-9999.000000,-9999.0000,-9999.000000
152097,152098,NaN,13430243,NaN,NaN,NaN,NaN,-21.399342,120.582062,NaN,...,-9999.0,-9999.0000,-9999.000,-9999.000000,-9999.0000,-9999.000000,39.00,48.547200,-9999.0000,-9999.000000
128612,128613,NaN,11170558,NaN,NaN,NaN,NaN,-28.177308,117.199060,NaN,...,2.0,2.5220,-9999.000,-9999.000000,-9999.0000,-9999.000000,-9999.00,-9999.000000,-9999.0000,-9999.000000

In [8]:
df.shape

(157267, 138)

In [9]:
df.isna().sum()

OBJECTID           0
DATASET       157267
SAMPLEID           0
GSWANO        157267
EXTRACT_DA    157267
               ...
Yb2O3_ppm          0
Zn_ppm             0
ZnO_ppm            0
Zr_ppm             0
ZrO2_ppm           0
Length: 138, dtype: int64

In [10]:
df['OBJECTID'].unique().shape

(157267,)

In [11]:
df['SAMPLEID'].unique().shape

(157267,)

In [12]:
df['W_ppm'].replace(-9999, 0)

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
157262    0.0
157263    0.0
157264    0.0
157265    0.0
157266    0.0
Name: W_ppm, Length: 157267, dtype: float64

In [13]:
df[df.values == -6666].shape

(2692, 138)

In [15]:
df[df.index != df[df.values == -6666].index]

ValueError: Lengths must match to compare

#### Drop spurious values

In [46]:
df = df[df.values != -6666]
df.shape

KeyboardInterrupt: